{% load static %}
    <!-- Footer starts -->
    <div class="row mt-3 bg-light">
        <div class="col-md-4">
            <h5>Address</h5><hr>
            Old Panvel, Panvel <br>
            Raigad - 410206 <br><br>
            <p><i class="bi bi-telephone-fill text-danger"></i> : 9999999999</p>
            <p><i class="bi bi-envelope-fill text-danger"></i> : anonymous@gmail.com</p>
        </div>
        <div class="col-md-4">
            <h5>Quick Links</h5><hr>
            <p><a href="index.html" class="anchor">Home</a></p>
            <p><a href="about.html" class="anchor">About</a></p>
            <p><a href="cart.html" class="anchor">Cart</a></p>
            <p><a href="contact.html" class="anchor">Contact</a></p>
        </div>
        <div class="col-md-4">
            <h5>Contact Us</h5><hr>
            <h5><a href="www.facebook.com" class="btn btn-primary"><i class="bi bi-facebook"></i></a></h5>
            <h5><a href="www.instagram.com" class="btn btn-danger"><i class="bi bi-instagram"></i></a></h5>
            <h5><a href="www.twitter.com" class="btn btn-primary"><i class="bi bi-twitter"></i></a></h5>
            <h5><a href="www.linkedin.com" class="btn btn-danger"><i class="bi bi-linkedin"></i></a></h5>
        </div>
    </div>
    <!-- Footer ends -->
 </div> <!-- Navigation container end -->

<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
</body>
</html>
